In [3]:
# Import pandas
import pandas as pd

In [4]:
df = pd.read_csv('imdb_top_1000.csv')

In [11]:
#df.head()

In [10]:
#df.head()      # First 5 rows
#df.tail()      # Last 5 rows
#df.info()      # Data types and memory usage
df.describe()  # Statistical summary

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [9]:
df['Poster_Link']

0      https://m.media-amazon.com/images/M/MV5BMDFkYT...
1      https://m.media-amazon.com/images/M/MV5BM2MyNj...
2      https://m.media-amazon.com/images/M/MV5BMTMxNT...
3      https://m.media-amazon.com/images/M/MV5BMWMwMG...
4      https://m.media-amazon.com/images/M/MV5BMWU4N2...
                             ...
995    https://m.media-amazon.com/images/M/MV5BNGEwMT...
996    https://m.media-amazon.com/images/M/MV5BODk3Yj...
997    https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998    https://m.media-amazon.com/images/M/MV5BZTBmMj...
999    https://m.media-amazon.com/images/M/MV5BMTY5OD...
Name: Poster_Link, Length: 1000, dtype: object

In [12]:
# Set display options to show full content
pd.set_option('display.max_colwidth', None)  # Show full width of columns
df['Poster_Link']

0                      https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg
1                      https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg
2                                                      https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg
3                      https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg
4                      https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg
                                                                                     ...
995    https://m.media-amazon.com/images/M/MV5BNGEwMTRmZTQtMDY4Ni00MTliLTk5ZmMtOWMxYWMyMTllMDg0L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg
996                    https://m.media-amazon.com/images/M/MV5BODk3YjdjZTItOGVhYi00Mjc2LTgzMDAtMThmYTVkNTBlMWVkXkEyXkFqcGdeQXVyNDY2MTk1ODk@._V1_UX67_CR0,0,67,98_AL_.jpg
997                    https://m.media-amazon.com/images/M/MV5BM2U3YzkxNGMtYWE0YS00ODk0LTk1ZGEtNjk3ZTE0MTk4MzJjXkEyXkFqcGdeQXVyNDk0MDg4NDk@._V1_UX67_CR0,0,67,98_AL_.jpg
998                    https://m.media-amazon.com/images/M/MV5BZTBmMjUyMjItYTM4ZS00MjAwLWEyOGYtYjMyZTUxN2I3OTMxXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg
999                                                    https://m.media-amazon.com/images/M/MV5BMTY5ODAzMTcwOF5BMl5BanBnXkFtZTcwMzYxNDYyNA@@._V1_UX67_CR0,0,67,98_AL_.jpg
Name: Poster_Link, Length: 1000, dtype: object

In [13]:
df.info()      # Data types and memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [22]:
df['No_of_Votes'].head()

0    2343110
1    1620367
2    2303232
3    1129952
4     689845
Name: No_of_Votes, dtype: int64

In [24]:
df['IMDB_Rating'].head()

0    9.3
1    9.2
2    9.0
3    9.0
4    9.0
Name: IMDB_Rating, dtype: float64

In [25]:
df['Meta_score'].head()

0     80.0
1    100.0
2     84.0
3     90.0
4     96.0
Name: Meta_score, dtype: float64

##  Create New Frame

In [26]:
# Create new DataFrame with selected columns
new_df = df[['Poster_Link', 'Series_Title', 'Released_Year', 'Overview', 'IMDB_Rating', 'No_of_Votes', 'Meta_score']].copy()

# Rename columns
new_df = new_df.rename(columns={
     'Series_Title': 'title',
    'Overview':'overview',
    'Poster_Link': 'poster_path',
    'Released_Year': 'release_date',
    'IMDB_Rating': 'vote_average',
    'No_of_Votes':'vote_count', 
    'Meta_score':'popularity'
    
})

# Display the new DataFrame
new_df.head()

,poster_path,title,release_date,overview,vote_average,vote_count,popularity
0,"https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg",The Shawshank Redemption,1994,"Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.",9.3,2343110,80.0
1,"https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg",The Godfather,1972,An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.,9.2,1620367,100.0
2,"https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg",The Dark Knight,2008,"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.",9.0,2303232,84.0
3,"https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg",The Godfather: Part II,1974,"The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.",9.0,1129952,90.0
4,"https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg",12 Angry Men,1957,A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.,9.0,689845,96.0

### Export new csv file

In [30]:
# Export
new_df.to_csv('movies_list.csv', index=False)
# new_df.to_csv('movies_list.csv')

In [31]:
df = pd.read_csv('movies_list.csv')
df.head()

,poster_path,title,release_date,overview,vote_average,vote_count,popularity
0,"https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg",The Shawshank Redemption,1994,"Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.",9.3,2343110,80.0
1,"https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg",The Godfather,1972,An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.,9.2,1620367,100.0
2,"https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg",The Dark Knight,2008,"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.",9.0,2303232,84.0
3,"https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg",The Godfather: Part II,1974,"The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.",9.0,1129952,90.0
4,"https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg",12 Angry Men,1957,A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.,9.0,689845,96.0

### Export csv with id

In [32]:
# Add sequential IDs starting from 1
new_df['id'] = range(1, len(new_df)+1)

# Reorder columns
new_df = new_df[['id', 'poster_path', 'title', 'release_date', 'overview', 
                 'vote_average', 'vote_count', 'popularity']]

# Export
new_df.to_csv('movies_list.csv', index=False)

In [33]:
df = pd.read_csv('movies_list.csv')
df.head()

,id,poster_path,title,release_date,overview,vote_average,vote_count,popularity
0,1,"https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg",The Shawshank Redemption,1994,"Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.",9.3,2343110,80.0
1,2,"https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg",The Godfather,1972,An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.,9.2,1620367,100.0
2,3,"https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg",The Dark Knight,2008,"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.",9.0,2303232,84.0
3,4,"https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg",The Godfather: Part II,1974,"The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.",9.0,1129952,90.0
4,5,"https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg",12 Angry Men,1957,A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.,9.0,689845,96.0

### Movie Details List

In [35]:
df = pd.read_csv('imdb_top_1000.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [39]:
# Create moviedetails DataFrame with all original columns
moviedetails = df.copy()

# Rename columns according to your specification
moviedetails = moviedetails.rename(columns={
    'Series_Title': 'title',
    'Overview': 'overview',
    'Poster_Link': 'poster_path',
    'Released_Year': 'release_date',
    'Runtime': 'runtime',
    'IMDB_Rating': 'vote_average',
    'No_of_Votes': 'vote_count',
    'Meta_score': 'popularity',
    'Genre': 'genres',
    'Certificate': 'certificate',
    'Gross': 'revenue'
    # Add other columns as needed
})

# Convert genres string to list of dictionaries format
moviedetails['genres'] = moviedetails['genres'].apply(
    lambda x: [{'name': genre.strip()} for genre in x.split(',')]
)

# Add missing columns with default values (modify as needed)
moviedetails['backdrop_path'] = ''  # You can fill this with appropriate data
moviedetails['tagline'] = ''        # Not in original data
moviedetails['budget'] = 0          # Not in original data
moviedetails['homepage'] = ''       # Not in original data
moviedetails['status'] = ''       # Not in original data

# Add id column (using the index + 1 for 1-based ID)
moviedetails['id'] = moviedetails.index + 1

# Reorder columns to match your desired structure
column_order = [
    'id', 'title', 'overview', 'poster_path', 'release_date', 'runtime',
    'vote_average', 'genres', 'backdrop_path', 'tagline', 'status',
    'budget', 'revenue', 'homepage', 'popularity', 'vote_count',
    'Director', 'Star1', 'Star2', 'Star3', 'Star4','certificate'
]

# Select and reorder columns
moviedetails = moviedetails[column_order]

# Display the first movie to verify
print(moviedetails.iloc[0].to_dict())

{'id': 1, 'title': 'The Shawshank Redemption', 'overview': 'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.', 'poster_path': 'https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg', 'release_date': '1994', 'runtime': '142 min', 'vote_average': 9.3, 'genres': [{'name': 'Drama'}], 'backdrop_path': '', 'tagline': '', 'status': '', 'budget': 0, 'revenue': '28,341,469', 'homepage': '', 'popularity': 80.0, 'vote_count': 2343110, 'Director': 'Frank Darabont', 'Star1': 'Tim Robbins', 'Star2': 'Morgan Freeman', 'Star3': 'Bob Gunton', 'Star4': 'William Sadler', 'certificate': 'A'}

In [40]:
moviedetails.head()

,id,title,overview,poster_path,release_date,runtime,vote_average,genres,backdrop_path,tagline,...,revenue,homepage,popularity,vote_count,Director,Star1,Star2,Star3,Star4,certificate
0,1,The Shawshank Redemption,"Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.","https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg",1994,142 min,9.3,[{'name': 'Drama'}],,,...,"28,341,469",,80.0,2343110,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,A
1,2,The Godfather,An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.,"https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg",1972,175 min,9.2,"[{'name': 'Crime'}, {'name': 'Drama'}]",,,...,"134,966,411",,100.0,1620367,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,A
2,3,The Dark Knight,"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.","https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_UX67_CR0,0,67,98_AL_.jpg",2008,152 min,9.0,"[{'name': 'Action'}, {'name': 'Crime'}, {'name': 'Drama'}]",,,...,"534,858,444",,84.0,2303232,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,UA
3,4,The Godfather: Part II,"The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.","https://m.media-amazon.com/images/M/MV5BMWMwMGQzZTItY2JlNC00OWZiLWIyMDctNDk2ZDQ2YjRjMWQ0XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg",1974,202 min,9.0,"[{'name': 'Crime'}, {'name': 'Drama'}]",,,...,"57,300,000",,90.0,1129952,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,A
4,5,12 Angry Men,A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.,"https://m.media-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg",1957,96 min,9.0,"[{'name': 'Crime'}, {'name': 'Drama'}]",,,...,"4,360,000",,96.0,689845,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,U

In [41]:
moviedetails.to_csv('moviedetails.csv', index=False)

In [42]:
moviedetails.to_json('moviedetails.json', orient='records', indent=2)